p {
  color: #8D8E90;
  font-size: 14px;
}
.customized-color-p {
  color: black;
}
.bold-p {
  font-weight: bold;
}
.div-2 {
  width: 95%;
  margin: 15px 0 15px 0;
  flex-direction: column;
  border: 1px solid #ccc;
}
.div-3 {
  width: 100%;
}
.div-5 {
  width: 100%;
}
.div-6 {
  margin-top: 15px;
  width: 100%;
  border-radius: 12px;
  padding: 5px;
}
.div-6 span {
  font-size: 14px;
  color: #8D8E90;
}